<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Demo</title>

</head>
<body>
    <h1>Lession</h1>
    <!-- 加上 ng-app -->
    <div ng-app>

        <!--輸入以下字串 -->
        <span>{{"Hello AngularJS"}}</span>

    </div>
    <script src="~/Scripts/angular.min.js"></script>
</body>
</html>