
@{
    ViewBag.Title = "Lession2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lession2</h2>

<div ng-app>
    <!--輸入以下字串 -->
    <ul>
        <li>
            <span>2014/11/29</span>
            <p>
                AngularJS菁英班 - 上
            </p>
        </li>
        <li>
            <span>2014/11/30</span>
            <p>
                AngularJS菁英班 - 下
            </p>
        </li>
    </ul>

</div>