
@{
    ViewBag.Title = "Lession1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lession1</h2>

<!-- 加上 ng-app -->
<div ng-app>

    <!--輸入以下字串 -->
    <span>{{"Hello AngularJS"}}</span>

</div>