
@{
    ViewBag.Title = "ValueService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ValueService</h2>

<div ng-app="serviceLabApp" ng-controller="serviceLab">

    <h3>iTunesService</h3>
    <table class="table">
        <thead>
            <tr>
                <th><a href="#" ng-click="sortBy ='artistName'">Artist Name</a></th>
                <th><a href="#" ng-click="sortBy ='trackName'">Track</a></th>
                <th>Genre</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in result.results |orderBy:sortBy">
                <td>{{r.artistName}}</td>
                <td>{{r.trackName}}</td>
                <td>{{r.primaryGenreName}}</td>
                <td>{{r.trackPrice}}</td>
            </tr>
        </tbody>
    </table>

    <span>{{iTunes}}</span>

    <h3>Value</h3>
    <span>{{valueLab}}</span>

    <h3>Constant</h3>
    <span>{{constantLab}}</span>

    <h3>Provier</h3>
    <span>{{providerLab}}</span>

    <h3>Factory</h3>
    <span>{{factoryLab}}</span>

    <h3>Service</h3>
    <span>{{serviceLab}}</span>

    
</div>

@section Scripts{
<script src="~/Scripts/app/ServiceLab/service-lab-app.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Scripts/app/ServiceLab/Controllers/service-lab-controller.js"></script>
<script src="~/Scripts/app/ServiceLab/Services/iTunesServices.js"></script>
<script src="~/Scripts/app/ServiceLab/Services/iTunesServicesForHttp.js"></script>
}