
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/app/event/services/eventsService.js"></script>
    <script>
        angular.module('promiseControllers', ['eventServices'])
            .controller('PromiseCtrl', function ($scope, $http, eventServices,$q) {

                //eventServices.query({ fileName: 'event-data' }, function (data) {
                //    alert(data);
                //});

                //eventServices.get({ fileName: 'angular-event-data-1' }, function (data) {
                //    alert(data);
                //});
                
                $q.all([
                    eventServices.query({ fileName: 'event-data' }).$promise,
                    eventServices.get({ fileName: 'angular-event-data-1' }).$promise])
                .then(function (result) {
                    alert(result[1]);
                    alert(result[0]);
                }).$promise;

            });
    </script>
    <div ng-app="promiseControllers" ng-controller="PromiseCtrl">
    </div>
</body>
</html>
